Ec2Bootstrapperlib/Web References/Ec2FileUploadProxy/ec2fileupload.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="UploadAndInstallMsiFile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fileName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="encodedFile" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadAndInstallMsiFileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UploadAndInstallMsiFileResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetInstallationStatus">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="guid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetInstallationStatusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetInstallationStatusResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="UploadAndInstallMsiFileSoapIn">
    <wsdl:part name="parameters" element="tns:UploadAndInstallMsiFile" />
  </wsdl:message>
  <wsdl:message name="UploadAndInstallMsiFileSoapOut">
    <wsdl:part name="parameters" element="tns:UploadAndInstallMsiFileResponse" />
  </wsdl:message>
  <wsdl:message name="GetInstallationStatusSoapIn">
    <wsdl:part name="parameters" element="tns:GetInstallationStatus" />
  </wsdl:message>
  <wsdl:message name="GetInstallationStatusSoapOut">
    <wsdl:part name="parameters" element="tns:GetInstallationStatusResponse" />
  </wsdl:message>
  <wsdl:portType name="Ec2FileUploadSoap">
    <wsdl:operation name="UploadAndInstallMsiFile">
      <wsdl:input message="tns:UploadAndInstallMsiFileSoapIn" />
      <wsdl:output message="tns:UploadAndInstallMsiFileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetInstallationStatus">
      <wsdl:input message="tns:GetInstallationStatusSoapIn" />
      <wsdl:output message="tns:GetInstallationStatusSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Ec2FileUploadSoap" type="tns:Ec2FileUploadSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UploadAndInstallMsiFile">
      <soap:operation soapAction="http://tempuri.org/UploadAndInstallMsiFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInstallationStatus">
      <soap:operation soapAction="http://tempuri.org/GetInstallationStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Ec2FileUploadSoap12" type="tns:Ec2FileUploadSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UploadAndInstallMsiFile">
      <soap12:operation soapAction="http://tempuri.org/UploadAndInstallMsiFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInstallationStatus">
      <soap12:operation soapAction="http://tempuri.org/GetInstallationStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Ec2FileUpload">
    <wsdl:port name="Ec2FileUploadSoap" binding="tns:Ec2FileUploadSoap">
      <soap:address location="https://ec2-174-129-86-112.compute-1.amazonaws.com/ec2fileupload/ec2fileupload.asmx" />
    </wsdl:port>
    <wsdl:port name="Ec2FileUploadSoap12" binding="tns:Ec2FileUploadSoap12">
      <soap12:address location="https://ec2-174-129-86-112.compute-1.amazonaws.com/ec2fileupload/ec2fileupload.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>